<a href="https://colab.research.google.com/github/mohammedaman0908/ML_Colab_Projects/blob/main/DL_%3EAttritionData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Attrition.csv')

In [ ]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [ ]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:
df = df.dropna()

In [ ]:
x = df.drop(columns = ['Attrition'], axis = 1)
y = df['Attrition']

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   BusinessTravel            1470 non-null   object
 2   DailyRate                 1470 non-null   int64
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EmployeeCount             1470 non-null   int64
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  Over18                    1470 non-null   object
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1470 non-null   int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1470 non-null   int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(8)
memory usage: 390.6+ KB

In [ ]:
categorical_features = ['BusinessTravel',
                        'Department',
                        'EducationField',
                        'Gender',
                        'JobRole',
                        'MaritalStatus',
                        'Over18',
                        'OverTime']

In [ ]:
x_encoded = pd.get_dummies(x, columns = categorical_features, drop_first = True)

In [ ]:
x_encoded

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,False,False,False,False,False,True,False,False,True,True
1,49,279,8,1,1,2,3,61,2,2,...,False,False,False,False,True,False,False,True,False,False
2,37,1373,2,2,1,4,4,92,2,1,...,True,False,False,False,False,False,False,False,True,True
3,33,1392,3,4,1,5,4,56,3,1,...,False,False,False,False,True,False,False,True,False,True
4,27,591,2,1,1,7,1,40,3,1,...,True,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,True,False,False,False,False,False,False,True,False,False
1466,39,613,6,1,1,2062,4,42,2,3,...,False,False,False,False,False,False,False,True,False,False
1467,27,155,4,3,1,2064,2,87,4,2,...,False,False,True,False,False,False,False,True,False,True
1468,49,1023,2,3,1,2065,4,63,2,2,...,False,False,False,False,False,True,False,True,False,False
1469,34,628,8,3,1,2068,2,82,4,2,...,True,False,False,False,False,False,False,True,False,False

In [ ]:
#Encode target data
lb = LabelEncoder()

In [ ]:
y_encoded = lb.fit_transform(y)
y_encoded

array([1, 0, 1, ..., 0, 0, 0])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_encoded,
                                                    y_encoded,
                                                    test_size = 0.2,
                                                    random_state = 42)

In [ ]:
x_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
1097,24,350,21,2,1,1551,3,57,2,1,...,True,False,False,False,False,False,False,False,False,False
727,18,287,5,2,1,1012,2,73,3,1,...,False,False,False,False,True,False,False,False,True,False
254,29,1247,20,2,1,349,4,45,3,2,...,False,False,False,False,False,True,False,False,False,False
1175,39,492,12,3,1,1654,4,66,3,2,...,False,False,True,False,False,False,False,True,False,False
1341,31,311,20,3,1,1881,2,89,3,2,...,True,False,False,False,False,False,False,False,False,False

In [ ]:
sc = StandardScaler()

In [ ]:
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

**Now we will create architecture of our model**

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units = 128, activation = 'relu', input_dim = x_train_scaled.shape[1]),   #input layer
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units = 64, activation = 'relu'),  #hidden layer
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units = 1, activation = 'sigmoid') #output layer
])

In [ ]:
#Compile the model

In [ ]:
loss_fn = tf.keras.losses.BinaryCrossentropy()
metrics = ['accuracy']

In [ ]:
learning_rate = 0.01
momentum = 0.9
optimizer = tf.keras.optimizers.SGD(learning_rate, momentum, nesterov = True)

In [ ]:
model.compile(optimizer = optimizer, loss = loss_fn, metrics = metrics)

In [ ]:
#Train the model

In [ ]:
model.fit(x_train_scaled,
          y_train,
          epochs = 50,
          batch_size = 8,
          validation_split = 0.1
          )

Epoch 1/50
133/133 [==============================] - 3s 8ms/step - loss: 0.4392 - accuracy: 0.8214 - val_loss: 0.3994 - val_accuracy: 0.8051
Epoch 2/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3629 - accuracy: 0.8639 - val_loss: 0.3859 - val_accuracy: 0.8475
Epoch 3/50
133/133 [==============================] - 1s 4ms/step - loss: 0.3152 - accuracy: 0.8856 - val_loss: 0.4011 - val_accuracy: 0.8475
Epoch 4/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3051 - accuracy: 0.8762 - val_loss: 0.3954 - val_accuracy: 0.8220
Epoch 5/50
133/133 [==============================] - 1s 6ms/step - loss: 0.2716 - accuracy: 0.8932 - val_loss: 0.4573 - val_accuracy: 0.8390
Epoch 6/50
133/133 [==============================] - 1s 7ms/step - loss: 0.2598 - accuracy: 0.8941 - val_loss: 0.4003 - val_accuracy: 0.8475
Epoch 7/50
133/133 [==============================] - 1s 7ms/step - loss: 0.2512 - accuracy: 0.8970 - val_loss: 0.4352 - val_accuracy: 0.8220
Epoch 8/50
133/133 [==============================] - 1s 7ms/step - loss: 0.2250 - accuracy: 0.9121 - val_loss: 0.4528 - val_accuracy: 0.8136
Epoch 9/50
133/133 [==============================] - 1s 8ms/step - loss: 0.2363 - accuracy: 0.9026 - val_loss: 0.4586 - val_accuracy: 0.8475
Epoch 10/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2021 - accuracy: 0.9159 - val_loss: 0.4545 - val_accuracy: 0.8390
Epoch 11/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1839 - accuracy: 0.9348 - val_loss: 0.5356 - val_accuracy: 0.8136
Epoch 12/50
133/133 [==============================] - 1s 4ms/step - loss: 0.2041 - accuracy: 0.9216 - val_loss: 0.4788 - val_accuracy: 0.8220
Epoch 13/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1879 - accuracy: 0.9272 - val_loss: 0.5164 - val_accuracy: 0.8051
Epoch 14/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1570 - accuracy: 0.9367 - val_loss: 0.5684 - val_accuracy: 0.7966
Epoch 15/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1684 - accuracy: 0.9329 - val_loss: 0.5677 - val_accuracy: 0.7797
Epoch 16/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1671 - accuracy: 0.9301 - val_loss: 0.5024 - val_accuracy: 0.7966
Epoch 17/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1600 - accuracy: 0.9423 - val_loss: 0.5444 - val_accuracy: 0.8051
Epoch 18/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1401 - accuracy: 0.9499 - val_loss: 0.5519 - val_accuracy: 0.7797
Epoch 19/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1475 - accuracy: 0.9357 - val_loss: 0.5698 - val_accuracy: 0.7797
Epoch 20/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1367 - accuracy: 0.9442 - val_loss: 0.5831 - val_accuracy: 0.7797
Epoch 21/50
133/133 [==============================] - 1s 4ms/step - loss: 0.1239 - accuracy: 0.9509 - val_loss: 0.5704 - val_accuracy: 0.8051
Epoch 22/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1259 - accuracy: 0.9499 - val_loss: 0.5829 - val_accuracy: 0.7627
Epoch 23/50
133/133 [==============================] - 1s 4ms/step - loss: 0.1116 - accuracy: 0.9480 - val_loss: 0.6574 - val_accuracy: 0.7712
Epoch 24/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1497 - accuracy: 0.9357 - val_loss: 0.6350 - val_accuracy: 0.7881
Epoch 25/50
133/133 [==============================] - 1s 6ms/step - loss: 0.1325 - accuracy: 0.9423 - val_loss: 0.6768 - val_accuracy: 0.7881
Epoch 26/50
133/133 [==============================] - 1s 8ms/step - loss: 0.1085 - accuracy: 0.9603 - val_loss: 0.6817 - val_accuracy: 0.7881
Epoch 27/50
133/133 [==============================] - 2s 12ms/step - loss: 0.1119 - accuracy: 0.9565 - val_loss: 0.7423 - val_accuracy: 0.8051
Epoch 28/50
133/133 [==============================] - 2s 14ms/step - loss: 0.0951 - accuracy: 0.9612 - val_loss: 0.7932 - val_accuracy: 0.7712
Epoch 29/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0952 - accuracy: 0.9631 - val_loss: 0.7776 - val_accuracy: 0.7797
Epoch 30/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0836 - accuracy: 0.9641 - val_loss: 0.7700 - val_accuracy: 0.7881
Epoch 31/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1080 - accuracy: 0.9575 - val_loss: 0.7670 - val_accuracy: 0.7881
Epoch 32/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0880 - accuracy: 0.9660 - val_loss: 0.8841 - val_accuracy: 0.7797
Epoch 33/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1001 - accuracy: 0.9631 - val_loss: 0.7555 - val_accuracy: 0.8051
Epoch 34/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0814 - accuracy: 0.9622 - val_loss: 0.8474 - val_accuracy: 0.7712
Epoch 35/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0818 - accuracy: 0.9688 - val_loss: 0.7516 - val_accuracy: 0.8136
Epoch 36/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0684 - accuracy: 0.9792 - val_loss: 0.9329 - val_accuracy: 0.7881
Epoch 37/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0738 - accuracy: 0.9726 - val_loss: 0.8621 - val_accuracy: 0.7797
Epoch 38/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0779 - accuracy: 0.9698 - val_loss: 0.8977 - val_accuracy: 0.7881
Epoch 39/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0770 - accuracy: 0.9669 - val_loss: 0.9084 - val_accuracy: 0.7627
Epoch 40/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0738 - accuracy: 0.9707 - val_loss: 0.8981 - val_accuracy: 0.7458
Epoch 41/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0774 - accuracy: 0.9688 - val_loss: 0.9502 - val_accuracy: 0.7797
Epoch 42/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0888 - accuracy: 0.9679 - val_loss: 0.8163 - val_accuracy: 0.7881
Epoch 43/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0725 - accuracy: 0.9716 - val_loss: 0.8322 - val_accuracy: 0.7627
Epoch 44/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0694 - accuracy: 0.9764 - val_loss: 0.8365 - val_accuracy: 0.7712
Epoch 45/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0628 - accuracy: 0.9735 - val_loss: 1.0237 - val_accuracy: 0.7712
Epoch 46/50
133/133 [==============================] - 1s 8ms/step - loss: 0.0561 - accuracy: 0.9773 - val_loss: 0.9324 - val_accuracy: 0.7712
Epoch 47/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0516 - accuracy: 0.9792 - val_loss: 0.9952 - val_accuracy: 0.7797
Epoch 48/50
133/133 [==============================] - 1s 7ms/step - loss: 0.0640 - accuracy: 0.9764 - val_loss: 0.8352 - val_accuracy: 0.7797
Epoch 49/50
133/133 [==============================] - 1s 6ms/step - loss: 0.0443 - accuracy: 0.9849 - val_loss: 0.9660 - val_accuracy: 0.7881
Epoch 50/50
133/133 [==============================] - 1s 5ms/step - loss: 0.0661 - accuracy: 0.9745 - val_loss: 1.0308 - val_accuracy: 0.7712

In [ ]:
loss, accuracy = model.evaluate(x_test_scaled, y_test)

10/10 [==============================] - 0s 3ms/step - loss: 0.8115 - accuracy: 0.8639

In [ ]:
print(f'Test Loss = {loss: 4f}, Test Accuracy = {accuracy: 4f}')

Test Loss =  0.811488, Test Accuracy =  0.863946